DEBUG=1
SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 [::1]
WEB_BASE_URL=http://localhost:3000

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

DB_POSTGRESQL_NAME=
DB_POSTGRESQL_USER=
DB_POSTGRESQL_PASSWORD=
DB_POSTGRESQL_HOST=127.0.0.1
DB_POSTGRESQL_PORT=5432