<head>
    <h1>Expenditure List</h1>

    <button>
        <a href="{% url 'add' %}">Add</a>
    </button>
</head>

<body>
    {% if not data.empty %}
    <table>
        <thead>
            <tr>
                {% for col in data.columns %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for _, row in data.iterrows %}
            <tr>
                {% for cell in row %}
                    {% if forloop.counter0 == 0 %}
                        <td><a href="{% url 'detail' row.id %}">{{ cell }}</a></td>
                    {% else %}
                        <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Expenditure data found</p>
    {% endif %}
</body>